name: build_debian

on:
  push:
    branches:
      - master
    paths:
      - user-entrypoint.sh
      - Dockerfile
      - .github/workflows/build_debian.yml
  pull_request:
    branches:
      - master
    paths:
      - user-entrypoint.sh
      - Dockerfile
      - .github/workflows/build_debian.yml
  repository_dispatch:
    types:
      - debian_image_update
  workflow_dispatch:

jobs:
  docker:
    runs-on: ubuntu-latest
    permissions:
      packages: write
    env:
      TITLE: User Debian
    strategy:
      matrix:
        include:
          - base-image: debian:12
            platforms: |-
              linux/amd64
              linux/arm/v7
              linux/arm64
              linux/386
              linux/ppc64le
              linux/s390x
            tags: |-
              ghcr.io/phasecorex/user-debian:12
              ghcr.io/phasecorex/user-debian:bookworm
              docker.io/phasecorex/user-debian:12
              docker.io/phasecorex/user-debian:bookworm
            cache-from: ghcr.io/phasecorex/user-debian:12
          - base-image: debian:12-slim
            platforms: |-
              linux/amd64
              linux/arm/v7
              linux/arm64
              linux/386
              linux/ppc64le
              linux/s390x
            tags: |-
              ghcr.io/phasecorex/user-debian:12-slim
              ghcr.io/phasecorex/user-debian:bookworm-slim
              docker.io/phasecorex/user-debian:12-slim
              docker.io/phasecorex/user-debian:bookworm-slim
            cache-from: ghcr.io/phasecorex/user-debian:12-slim
          - base-image: debian:11
            platforms: |-
              linux/amd64
              linux/arm/v7
              linux/arm64
              linux/386
            tags: |-
              ghcr.io/phasecorex/user-debian:11
              ghcr.io/phasecorex/user-debian:bullseye
              docker.io/phasecorex/user-debian:11
              docker.io/phasecorex/user-debian:bullseye
            cache-from: ghcr.io/phasecorex/user-debian:11
          - base-image: debian:11-slim
            platforms: |-
              linux/amd64
              linux/arm/v7
              linux/arm64
              linux/386
            tags: |-
              ghcr.io/phasecorex/user-debian:11-slim
              ghcr.io/phasecorex/user-debian:bullseye-slim
              docker.io/phasecorex/user-debian:11-slim
              docker.io/phasecorex/user-debian:bullseye-slim
            cache-from: ghcr.io/phasecorex/user-debian:11-slim
          - base-image: debian:13
            platforms: |-
              linux/amd64
              linux/arm/v7
              linux/arm64
              linux/386
              linux/ppc64le
              linux/s390x
            tags: |-
              ghcr.io/phasecorex/user-debian:13
              ghcr.io/phasecorex/user-debian:trixie
              ghcr.io/phasecorex/user-debian:latest
              docker.io/phasecorex/user-debian:13
              docker.io/phasecorex/user-debian:trixie
              docker.io/phasecorex/user-debian:latest
            cache-from: ghcr.io/phasecorex/user-debian:13
          - base-image: debian:13-slim
            platforms: |-
              linux/amd64
              linux/arm/v7
              linux/arm64
              linux/386
              linux/ppc64le
              linux/s390x
            tags: |-
              ghcr.io/phasecorex/user-debian:13-slim
              ghcr.io/phasecorex/user-debian:trixie-slim
              docker.io/phasecorex/user-debian:13-slim
              docker.io/phasecorex/user-debian:trixie-slim
            cache-from: ghcr.io/phasecorex/user-debian:13-slim
      fail-fast: false
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: phasecorex/user-debian
          labels: |
            maintainer=${{ github.repository_owner }}
            org.opencontainers.image.vendor=${{ github.repository_owner }}
            org.opencontainers.image.title=${{ env.TITLE }}
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to GitHub Container Registry
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Login to DockerHub
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and push ${{ matrix.base-image }}
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ${{ matrix.dockerfile }}
          platforms: ${{ matrix.platforms }}
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ matrix.tags }}
          cache-from: ${{ matrix.cache-from }}
          build-args: |
            BASE_IMG=${{ matrix.base-image }}
          labels: ${{ steps.meta.outputs.labels }}
